<div class="row content-box">
  <!--main-app-content content-box-->
  <div class="small-12 small-centered columns">
    <div class="row content">
      <div class="row">
        <h1>ADD PRODUCTS</h1>
        <form name="cartForm">
          <label for="offeredProducts">
            Offered Products:
          </label>
          <select id="offeredProducts"
                  name="offeredProducts"
                  data-ng-model="offeredProductSelected"
                  ng-options="(offeredProduct.title | inflector:'humanize') for offeredProduct in offeredProducts"
                  ng-change="onChangeOfferedProduct()"
                  required="true">
          </select>
          <span class="error" ng-show="cartForm.offeredProducts.$error.required">Required!</span>
          <br/><br/>
          <label for="quantity">
            Quantity:
          </label>
          <input id="quantity"
                 type="number"
                 name="quantity"
                 ng-disabled="offeredProductSelected === undefined"
                 ng-model="offeredProductSelected.quantity"
                 ng-min="1"
                 ng-max="100"
                 ng-minlength="1"
                 ng-maxlength="10"
                 required="true">
          <span class="error" ng-show="cartForm.quantity.$error.required">Required!</span>
          <br/><br/>
          <label for="price">
            Price:
          </label>
          <span id="price">{{offeredProductSelected.price | currency}}</span>
          <br/><br/>
          <button ng-click="addProduct(cartForm)" ng-disabled="offeredProductSelected === undefined">Add</button>
        </form>
      </div>
      <div class="row">
        <h1>YOUR SHOPPING CART</h1>
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in items">
              <td><span>{{item.title}}</span></td>
              <td><input ng-model='item.quantity'></td>
              <td><span>{{item.price | currency}}</span></td>
              <td><span>{{item.price * item.quantity | currency}}</span></td>
              <td><button ng-click="remove($index)">Remove</button></td>
            </tr>
            <tr>
              <td colspan="3"><span>CART TOTAL</span></td>
              <td colspan="2"><span>{{cartTotal | currency}}</span></td>
            </tr>
          </tbody>
        </table>
        <button ng-click="submitOrder()" ng-disabled="false">Submit</button>
      </div>
    </div>
  </div>
</div>
