<div class="row content-box">
  <!--main-app-content content-box-->
  <div class="small-12 small-centered columns">
    <div class="row content">
      <h1>Your Shopping Cart</h1>
      <div ng-repeat='item in items'>
        <span>{{item.title}}</span>
        <input ng-model='item.quantity'>
        <span>{{item.price | currency}}</span>
        <span>{{item.price * item.quantity | currency}}</span>
        <button ng-click="remove($index)">Remove</button>
      </div>
    </div>
  </div>
</div>
